using System;
using System.Collections.Generic;
using System.Text;
using Hayaa.DataAccess;
using Hayaa.XXX.Core.Config;


namespace Hayaa.XXX
{
    class {Table}Dal: CommonDal
    {      
	    private string static g_con= ConfigHelper.Instance.GetConnection(DefineTable.XXX);
        internal static int Add({Table} info)
        {
            string sql = "insert {Table} ({columns}) values({cvalues})";
            return Update<{Table}>(g_con,sql, info) ;
        }
		  internal static int update({Table} info)
        {
            string sql = "update {Table} set {updatecolumns} where {Table}ID=@{Table}ID";
            return Update<{Table}>(g_con,sql, info) ;
        }
		 internal static bool Delete(List<int> IDs)
        {
            string sql = "delete from {Table} where AppID in(@ids)";
            return Excute(g_con,sql, new { ids = IDs.ToArray() })>0;
        }
		  internal static {Table} Get(int infoID)
        {
            string sql = "select * from {Table}  where {Table}ID=@{Table}ID";
            return Get<{Table}>(g_con,sql, new{ {Table}ID=infoID}) ;
        }
		internal static List<{Table}> GetList()
        {
            string sql = "select * from {Table}";
            return GetList<{Table}>(g_con,sql, null) ;
        }
		internal static GridPager<{Table}> GetGridPager(int pageSize,int pageIndex,string searcheKey)
        {
            string sql = "select SQL_CALC_FOUND_ROWS * from {Table} where 1=1 limit (@pageIndex-1)*@pageSize,@pageIndex*@pageSize;select FOUND_ROWS();";
            return GetGridPager<{Table}>(g_con,sql,pageSize,pageIndex,new{pageSize=pageSize,pageIndex=pageIndex,searchKey=searcheKey}) ;
        }
    }
}
